.Editor h4 {
  font-size: 22px;
  font-weight: bold;
}

.Editor section{
  margin-bottom: 40px;
}

.Editor .Editor_date input { 
  font-size: 20px;
  font-family: "NanumPenScript";
  background-color: rgb(236,236,236);
  border:none;
  border-radius: 5px;
  padding:10px 20px;
}

.Editor .emotion_list_wrapper {
  display: flex;
  justify-content: space-around;
  gap:2px;
}

.Editor textarea{
  padding: 20px;
  width: 100%;
  min-height: 200px;
  resize: vertical;
}

.Editor .Editor_button{
  display: flex;
  justify-content: space-between;
}